ELearning/Commerce.TaxProvider/Web References/StrikeIron/taxdatabasic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="http://www.strikeiron.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://ws.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetTaxRateUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zip_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxRateUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxRateUSResult" type="s0:TaxRateUSAData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxRateUSAData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="zip_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="county_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state_sales_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="state_use_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="county_sales_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="county_use_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="city_sales_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="city_use_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="total_sales_tax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="total_use_tax" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="tax_shipping_alone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tax_shipping_handling" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResponseInfo" type="s0:ResponseInfo" />
      <s:complexType name="ResponseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTaxRateCanada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="province" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxRateCanadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxRateCanadaResult" type="s0:TaxRateCanadaData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxRateCanadaData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="abbreviation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="province" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GST" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PST" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="HST" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnregisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </types>
  <message name="GetTaxRateUSSoapIn">
    <part name="parameters" element="s0:GetTaxRateUS" />
  </message>
  <message name="GetTaxRateUSSoapOut">
    <part name="parameters" element="s0:GetTaxRateUSResponse" />
  </message>
  <message name="GetTaxRateUSResponseInfo">
    <part name="ResponseInfo" element="s0:ResponseInfo" />
  </message>
  <message name="GetTaxRateCanadaSoapIn">
    <part name="parameters" element="s0:GetTaxRateCanada" />
  </message>
  <message name="GetTaxRateCanadaSoapOut">
    <part name="parameters" element="s0:GetTaxRateCanadaResponse" />
  </message>
  <message name="GetTaxRateCanadaResponseInfo">
    <part name="ResponseInfo" element="s0:ResponseInfo" />
  </message>
  <message name="GetRemainingHitsSoapIn">
    <part name="parameters" element="s1:GetRemainingHits" />
  </message>
  <message name="GetRemainingHitsSoapOut">
    <part name="parameters" element="s1:GetRemainingHitsResponse" />
  </message>
  <message name="LicenseInfoMessage">
    <part name="LicenseInfo" element="s1:LicenseInfo" />
  </message>
  <message name="SubscriptionInfoMessage">
    <part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </message>
  <portType name="TaxDataBasicSoap">
    <operation name="GetTaxRateUS">
      <documentation>Get tax rate of a zipcode in US</documentation>
      <input message="s0:GetTaxRateUSSoapIn" />
      <output message="s0:GetTaxRateUSSoapOut" />
    </operation>
    <operation name="GetTaxRateCanada">
      <documentation>Get tax rate of a province in Canada</documentation>
      <input message="s0:GetTaxRateCanadaSoapIn" />
      <output message="s0:GetTaxRateCanadaSoapOut" />
    </operation>
    <operation name="GetRemainingHits">
      <input message="s0:GetRemainingHitsSoapIn" />
      <output message="s0:GetRemainingHitsSoapOut" />
    </operation>
  </portType>
  <binding name="TaxDataBasicSoap" type="s0:TaxDataBasicSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetTaxRateUS">
      <soap:operation soapAction="http://www.strikeiron.com/GetTaxRateUS" style="document" />
      <input>
        <soap:body use="literal" />
        <s0:validation xmlns:tns="http://www.strikeiron.com">
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string-length(//tns:zip_code) &gt; 0</tns:expression>
              <tns:description>Zip code is required</tns:description>
            </tns:assertion>
          </tns:assertions>
        </s0:validation>
        <soap:header message="s0:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:GetTaxRateUSResponseInfo" part="ResponseInfo" use="literal" />
        <soap:header message="s0:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </output>
    </operation>
    <operation name="GetTaxRateCanada">
      <soap:operation soapAction="http://www.strikeiron.com/GetTaxRateCanada" style="document" />
      <input>
        <soap:body use="literal" />
        <s0:validation xmlns:tns="http://www.strikeiron.com">
          <tns:assertions>
            <tns:assertion>
              <tns:expression>string-length(//tns:province) &gt; 0</tns:expression>
              <tns:description>Province is required</tns:description>
            </tns:assertion>
          </tns:assertions>
        </s0:validation>
        <soap:header message="s0:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:GetTaxRateCanadaResponseInfo" part="ResponseInfo" use="literal" />
        <soap:header message="s0:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </output>
    </operation>
    <operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/taxdatabasic/TaxDataBasic/GetRemainingHits" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="s0:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TaxDataBasic">
    <port name="TaxDataBasicSoap" binding="s0:TaxDataBasicSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/taxdatabasic" />
    </port>
  </service>
</definitions>